
@keyframes magnifying-glass-animate {
    0% { transform: rotate(37.5deg); left: 150px; top: 0; }
    10% { transform: rotate(37.5deg); left: 150px; top: 0; }
    50% { transform: rotate(5deg); left: -150px; top: 0; }
    75% { transform: rotate(5deg); left: -150px; top: 0; }
    82.5% { top: 27.5px; }
    90% { transform: rotate(37.5deg); left: 150px; top: 0; }
    100% { transform: rotate(37.5deg); left: 150px; top: 0; }
  }

  #magnifying-glass {
    animation: magnifying-glass-animate 1.5s ease-in-out infinite;
    animation-delay: 0.375s;
  }

  @keyframes contact-card-animate {
    0% {opacity: 0; top: -300px; width: 0px; }
    1% { opacity: 1; top: -300px; width: 0px; }
    10% { top: -300px; width: 250px; }
    20% { top: 0px; width: 250px; }
    25% { top: 0px; width: 250px; }
    35% { top: 0px; width: 250px; }
    50% { top: 300px; width: 250px; }
    65% {opacity: 1; top: 300px; width: 0px;  }
    100% {opacity: 0; top: 300px; width: 0px; }
  }

  .contact-card {
    animation: contact-card-animate 3s ease-in-out infinite;
    &:nth-child(2) {
      animation-delay: 2.5s;
    }
  }